nav {
  background-color: #141414; 
  padding: 15px 30px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #e50914; 
  text-shadow: 0 0 6px rgba(229, 9, 20, 0.7);
}

nav a.active {
  color: #e50914; /* link ativo destacado */
}
